<!DOCTYPE html>
<html>
  <head>
    <title><%= '首页 | ' + title %></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/test/"> 测试页面 </a>
  </body>
</html>
